body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.wrapper {
    grid-column: 3/11;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(auto, auto);
    grid-row-gap: 10px;
    margin-top: 3.6rem;
}

.wrapper h1 {
    grid-column: span 3;
    text-align: center;
    font-weight: 400;
    color: crimson;
    font-size: 3rem;
    transform-origin: center bottom;
    animation: bounce 1.2s infinite;
}

.box-clock {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.clock {
    grid-column: 4/span 6;
    text-align: center;
    background: rgb(240, 163, 163);
    border-radius: 10rem;
    padding: 10px 20px;
    color: white;
}
.clock date , time{
    display: block;
}

.clock date {
    font-size: 1.4rem;
}

.clock time {
    font-size: 2.6rem;
    letter-spacing: 2px;
}

.info {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    margin-top: 2.5rem;
}

.one {
    grid-column: 3/span 3;
    text-align: center;
}

.heart {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    font-size: 55px;
    padding-top: 45px;
    color: crimson;
    text-align: center;
}

.heart anni {
    font-size: 18px !important;
}

.two {
    grid-column: 8/ span 3;
    text-align: center;
}

.info img {
    max-width: 100%;
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 2px 2px 8px rgba(0,0,0,.2);
}

.info p {
    font-size: 1.4rem;
}

.music {
    grid-column: 2;
    position: relative;
    z-index: 1000;
    opacity: .6;
    text-align: center;
}

footer {
    grid-column: span 3;
    text-align: center;
    font-size: 2rem;
    color: crimson;
}

.mask {
    grid-column: span 12;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 130, 116, 0.13);
}


@keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    40%,
    43% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0);
    }
  
    70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, -4px, 0);
      transform: translate3d(0, -4px, 0);
    }
  }

@media (max-width: 992px) {
    .wrapper, h1, .box-clock, .music, audio, footer {
        grid-column: span 12;
    }
}

@media (max-width: 650px) {
    .wrapper h1 {
        font-size: 2rem;
    }
    .info, .one, .heart, .two, .clock {
        grid-column: span 12;
    }
    .heart {
        margin-bottom: 3rem;
    }
    footer {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }
}

canvas {
    position: fixed;
    top: 0;left: 0;
}